body{
    background-color: aqua;
}
.Header{
    background-color: aqua;
    color: darkmagenta;
    letter-spacing: 2px;
}
#heading{
    font-family: 'Festive', cursive;
    font-size:50px;
}
.font1{
    font-family: 'Short Stack', cursive;
    font-size: medium;
}
.middle{
    background-image: linear-gradient(to right, #ffcbf2 , #deaaff, #c0fdff);
    color: #f20089;
}
.footer{
    background-color: aqua;
    color: darkmagenta;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#start{
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    margin-top: 30px;
}
.font2{
    font-family: 'Short Stack', cursive;
    font-size: 15px;
}